<footer>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img width="250" src="~/images/kidora-logo.png" alt="..." />
            </div>
            <div class="col-3">
                <ul class="footer-content text-muted">
                    ABOUT
                    <li>
                        <a asp-area="" asp-action="TermsOfService" asp-controller="About">
                            Terms of Service
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-action="PrivacyPolicy" asp-controller="About">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-action="RefundPolicy" asp-controller="About">
                            Refund Policy
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-action="ServerInformation" asp-controller="About">
                            Server Information
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="footer-content text-muted">
                    SOCIAL
                    <li>
                        <a src="https://twitter.com/PledgeSRO">
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/PledgeSRO" target="_blank">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/pledgesrodotcom" target="_blank">
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC-QE9ekxgyBOjy_5464r4iA" target="_blank">
                            Youtube
                        </a>
                    </li>
                    <li>
                        <a href="https://discord.gg/hcaxKZ38qD" target="_blank">
                            Discord
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="footer-content text-muted">
                    PARTNERS
                    <li>
                        <a href="https://www.elitepvpers.com/forum/sro-pserver-advertising/4950700-pledge-sro-cap-100-ch-only-long-term-g-o-10-10-2021-a.html" target="_blank">
                            ELITEPVPERS
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="coded-by">
            <label for="Developer">Coded by</label>
            <a href="https://bit.ly/3GpcVF8" target="_blank" title="Offical Facebook">
                <strong id="Developer">DevOmar</strong>
            </a>
        </div>
    </div>
</footer>
