@{
    ViewData["Title"] = "PRIVACY POLICY";
}

<h1 class="page-header">PRIVACY POLICY</h1>
<hr />

<div style="box-shadow: var(--box-shadow); padding:15px; margin-bottom:15px; border: solid 1px var(--site-fg-onAction) !important; margin-bottom:80px;">
    <p>Pledge SRO PRIVACY POLICY</p>
    <p>Pledge SRO respects your concerns about privacy.</p>
    <p>We’ve designed the Pledge SRO Privacy Policy to help you better understand the information we collect and the different ways we may use or share it.</p>
    <p>This policy applies to your use of the Pledge SRO website and client.</p>
    <p>Information We Collect</p>
    <p>We only collect, use, share, store, or otherwise process your personal information when we have an appropriate basis and accordingly to terms you have accepted. We generally collect information in three ways: (1) you voluntarily provide information to us, such as by creating an account, making purchases, or signing up for email alerts, (2) we collect information automatically, such as through cookies or our games and other software, and (3) other parties, such as social networks, may provide information to us. Each of these methods is described in more detail below.</p>
    <p>(A) Information You Provide</p>
    <p>-Creating an account<br>-Donating<br>-Signing up for email alerts or subscribing to receive other information from us<br>-Contacting us for any reason, such as by email, including for technical support or customer service.</p>
    <p>(B) Information We Collect Automatically</p>
    <p>-Technical information about your computer or software you use to access the Internet or our services, such as IP address or other transactional or identifier information for your device.<br>-The location of your device, such as may be derived from your device’s IP address.</p>
    <p>Please note that if certain features on the Pledge SRO services are provided by third parties, those third parties may also use automated means of data collection and may record information about your use of the Pledge SRO services or others’ websites over time. These features are subject to those third parties’ privacy notices and policies.</p>
    <p>How We Use and Share Information</p>
    <p>We use your information to provide the services, experiences or information upon your request. We also may use your information for the following purposes.</p>
    <p>-To communicate with you, respond to your requests, or provide you with updates and information<br>-To better understand our users, their interests, and their preferences<br>-To develop, deliver, and improve our products, services<br>-To manage and customize advertisements or promotional offers<br>-For security purposes<br>-For internal purposes such as auditing and data analysis<br>-To provide services that are subject to terms you have accepted which may include reasonable monitoring to detect and prevent misuse or fraud and to keep our games fair for all users</p>
    <p><br>Just as you opt in to provide us your personal information by registering an account or subscribing to our newsletter; you may as well opt out any time by submitting a ticket on our website and letting us know. In that case, Pledge SRO will immediately remove your personal information saved on our end.</p>
    <p>Additional Information</p>
    <p>-We use reliable safety methods to protect your personal and account information.<br>-You may also browse our website without providing any personal information. We may collect some limited information automatically, as described above.<br>-You may opt out of receiving our e-mails at any time by using the opt-out mechanism provided in the promotion e-mails.<br>-You may change your browser settings or take other steps to block, manage, or delete cookies.</p>
    <p>You may also exercise and amend your choices by sending an email to us: PledgeSRO@gmail.com</p>
</div>

