@{
    ViewData["Title"] = "REFUND POLICY";
}

<h1 class="page-header">REFUND POLICY</h1>
<hr />

<div style="box-shadow: var(--box-shadow); padding:15px; margin-bottom:15px; border: solid 1px var(--site-fg-onAction) !important; margin-bottom:80px;">
    <p>MAIN TERMS OF SERVICE<br>If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Pledge SRO relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website. The use of this website is subject to the following TERMS OF SERVICE</p>
    <p>&nbsp;</p>
    <p><br>BUYING Credits OR DONATE<br>1. → You can buy Credits from our website Pledge SRO.online ONLY !. 2. → We don’t give out in-game items for Credits. neither do we sell any in-game item for real money. 3.→ Donate is Credits ONLY !.</p>
    <p>&nbsp;</p>
    <p><br>PAYMENT METHODS TO BUY Credits<br>1. → there are many ways to purchase Credits. 2. → "PayPal" 3.→ "Paymentwall" which allows you to purchase Credits in many ways. (Mobile, Credit cards, Bank, Online Methods, and More Payment Methods.. .</p>
</div>