@{
    ViewData["Title"] = "Server Information";
}
<h1 class="page-header">Server Information</h1>
<hr />

<div style="box-shadow: var(--box-shadow); padding:15px; margin-bottom:15px; border: solid 1px var(--site-fg-onAction) !important; margin-bottom:80px;">
    <p style="text-align: center;">For more details about events please join our official discord server from <a style="color: #CAA24C !important" title="Official Discord Server" href="https://discord.gg/hcaxKZ38qD" target="_blank" rel="noopener">here.</a></p>
</div>