@{
    ViewData["Title"] = "TERMS OF SERVICE";
}

<h1 class="page-header">TERMS OF SERVICE</h1>
<hr />

<div style="box-shadow: var(--box-shadow); padding:15px; margin-bottom:15px; border: solid 1px var(--site-fg-onAction) !important; margin-bottom:80px;">
    <p>
        Welcome to Pledge SRO website.<br>
        If you continue to use this website, you agree to comply with and
        be bound by the following terms and conditions of use.
    </p>
    <p>
        You agree<br>
        - to receive promotion e-mails from Pledge SRO upon registering an
        account on this website.<br>
        - Pledge SRO team will not get involved if third party players offend
        you or your belongings in ingame chat.<br>- account's safety is player's
        responsibility and Pledge SRO team will not get involved with a character hack/scam issue.
        Players are expected to use an unique password and character lock feature in the game to avoid
        a potential account hacking or scam.<br>- to allow us to temporarily block the account(s) and
        investigate if suspicious activity is detected (such as using illegal software (such is virtual
        machine, modified dll and such). You also agree that you will have to provide us a photoproof of your
        devices in order to get your blocked accounts back.<br>- that you will never attempt to exchange/sell
        in-game currency for cash.<br>- donations are non-refundable under any circumstance.
    </p>
    <p>
        Pledge SRO team holds rights to temporarily or even permanently block users without having to make
        a statement about it if the user somewhat harm Pledge SRO's
        reputation in the game or on the third party platforms.
    </p>
</div>