
@{
    ViewData["Title"] = "PaymentWall";
}

<h1>PaymentWall</h1>
<hr />

<form asp-action="PaymentWall" method="post">
    <div class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</form>

