:root {
    --site-primary-bg: #121212;
    --site-secound-bg: #0C0C0C;
    --site-primary-fg: #ffffff;
    --site-secound-fg: #CAA24C;
    --site-fg-onAction: #CAA24C;
    --site-primary-scroll: black;
    --site-active-scroll: #CAA24C;
    --nav-color: rgba(0,0,0, 0.7);
    --transition-duration: 500ms;
    --box-shadow: 1px 0px 30px 11px #000000;
    --landing-pc: url(../images/landing-img-pc.jpg);
    --landing-mobile: url(../images/landing-img-mobil.jpg);
}

@font-face {
    font-family: 'primary';
    src: url('../fonts/SlopeOpera-gg1Y.ttf');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: primary;*/
}

::selection {
    color: var(--site-secound-bg);
    background: var(--site-fg-onAction);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px var(--site-primary-scroll);
}

::-webkit-scrollbar-thumb {
    background: var(--site-primary-scroll);

    &:hover {
        background: var(--site-active-scroll);
    }
}

html {
    scroll-behavior: smooth;
}

label, h1, h2, h3, h4, h5, a, i, p,dl,dd,dt {
    color: var(--site-primary-fg);
}

ol, ul, dl {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 5px
}

li {
    padding-bottom: 5px;
}

h5 {
    color: var(--site-fg-onAction);
}

a {
    text-decoration: none;
    color: var(--site-primary-fg) !important;
    cursor: pointer;

    &:hover, &:active {
        color: var(--site-fg-onAction) !important;
    }
}

hr {
    background: white;
    height: 2px;
}

span {
    &:hover {
        color: var(--site-primary-fg) !important;
    }
}

strong {
    color: var(--site-fg-onAction);
}

button {
    &:hover {
        color: var(--site-primary-fg) !important;
        background-color: var(--site-fg-onAction);
        color: var(--site-primary-bg) !important;
    }
}

table {
    text-align: center;
    box-shadow: var(--box-shadow);
    border: solid 1px var(--site-fg-onAction) !important;

    td, th {
        background-color: #0C0C0C !important;
        color: var(--site-primary-fg) !important;
    }
}

.active2 {
    color: var(--site-fg-onAction) !important;
}

.active3 {
    background-color: var(--site-fg-onAction) !important;
    border: 1px solid var(--site-fg-onAction) !important;
    color: var(--site-primary-bg) !important;
}

body {
    background-color: var(--site-primary-bg);

    header {
        margin-bottom: 50px !important;

        nav {
            background-color: var(--nav-color);
            margin-left: -24px !important;

            .container .navbar-toggler {
                color: var(--site-fg-onAction);
                border-color: rgba(255, 255, 255, 0.1);

                &:foucs {
                    color: var(--site-fg-onAction);
                }
            }

            .li-bg, .dropdown-menu {
                background-color: var(--site-primary-bg);
            }

            .li-bg a {
                &:hover, &:active {
                    color: var(--site-primary-bg) !important;
                }

                &:focus {
                    background-color: var(--site-fg-onAction);
                    color: var(--site-primary-fg) !important;
                }
            }
        }

        .Landing {
            background-image: var(--landing-pc);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 40vh;
        }
    }

    aside {
        li {
            color: var(--site-primary-fg);
        }

        .aside-item {
            background-color: var(--site-primary-bg);
            width: 100%;
            height: auto;
            border: solid 1px var(--site-fg-onAction);
            border-radius: 5px;
            box-shadow: var(--box-shadow);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;

            img {
                position: relative;
                width: 100%;
            }

            .aside-item-img {
                text-align: center;
            }

            .aside-item-caption {
                position: absolute;
                padding: 10px;
            }

            .aside-item-content {
                padding: 10px;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
    }

    section {
        .page-link {
            background-color: var(--site-primary-bg);
            border: 1px solid var(--site-fg-onAction);

            &:hover, &:active {
                background-color: var(--site-fg-onAction);
                border: 1px solid var(--site-fg-onAction);
                color: var(--site-primary-bg) !important;
                box-shadow: 0 0 0 0.1rem var(--site-primary-fg);
                background-color: var(--site-fg-onAction) !important;
            }

            &:focus {
                box-shadow: 0 0 0 0.1rem var(--site-primary-fg);
                background-color: var(--site-fg-onAction) !important;
            }
        }

        .form-control {
            &:focus {
                border-color: var(--site-fg-onAction) !important;
                box-shadow: 0 0 0 0.25rem #f5ad13bd !important;
            }
        }

        .home-news {
            justify-content: center;
            margin: 0;

            .home-msg {
                padding: 15px;
                background-color: var(--site-secound-bg);
                border: solid 1px var(--site-fg-onAction);
                border-radius: 5px;
                box-shadow: var(--box-shadow);

                p {
                    display: inline-block;
                    margin: 0px;
                }

                .home-msg-date {
                    margin-bottom: 16px;
                }
            }
        }

        .nav-page-count {
            margin: 20px 0px;
        }

        .download-links {
            background-color: var(--site-secound-bg);
            display: flex;
            flex-direction: column;
            padding: 20px;
            text-align: center;
            color: var(--site-fg-onAction) !important;
            box-shadow: var(--box-shadow);
            border: solid 1px var(--site-fg-onAction);
            border-radius: 5px;
            margin-bottom: 30px;

            h5, button {
                color: var(--site-fg-onAction) !important;
                padding: 5px 0px;
            }

            button {
                background-color: var(--site-secound-bg);
                border: solid 1px var(--site-fg-onAction) !important;
                width: fit-content;
                padding: 5px;
                align-self: center;
                transition-duration: var(--transition-duration);
            }
        }
    }

    footer {
        padding: 25px 0px;
        background-color: var(--site-secound-bg);
        border-top: solid 1px var(--site-fg-onAction);

        .footer-content {
        }
    }
}

@media (max-width: 992px) {
    .col-9, .col-3 {
        width: 100%;
    }

    .w-25 {
        width: 50% !important;
    }

    body {

        header {
            .navbar {
                margin-left: 0px !important;

                .li-bg, .dropdown-menu {
                    background-color: transparent;
                }

                .nav-page-count {
                    font-size: 10px !important;
                }
            }

            .Landing {
                background-image: var(--landing-mobile);
            }
        }

        aside {
            margin-top: 25px !important;
        }

        section {
            .table-mobile {
                font-size: 10px;
                margin-left: 0px;
            }

            .ranking-tables {
                padding: 0px 12px;
            }

            h1 {
                text-align: center;
            }
        }

        footer {
            .coded-by {
                text-align: center;
            }
        }
    }
}
